<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="AboMapperCustom-21012" />
            <remove name="AboMapperCustom-18162" />
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php5.6\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
