<div class="w-container w-footer">
    <div class="w-footer-section pdTop-big pdBottom-big" >
      <div class="w-footer-in" style="max-width:;">
        <div class="foot-mask" ></div>
        <div class="w-foot-content  pdTop-default pdBottom-default" data-id="521382" data-type="31">
          <div class="li-div" data-comunique="cd01d5532bec73202c485ed5e9231abf">
            <div class="w-text"  style="">
            	<img style="float: right;" src="{eyou:global name='web_attr_6' /}" />
              <p>咨询热线：{eyou:global name='web_attr_1' /}&nbsp;&nbsp;&nbsp;&nbsp;座机/传真：{eyou:global name='web_attr_2' /}&nbsp;&nbsp;&nbsp;&nbsp;邮箱：{eyou:global name='web_attr_3' /}</p>
              <p>公司地址：{eyou:global name='web_attr_4' /}</p>
              <p>{$global.web_copyright|htmlspecialchars_decode}--技术支持：<a href="http://www.0917bjms.com/">麦思科技</a> &nbsp;{eyou:global name='web_recordnum' /}
<!--              <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278760977'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278760977%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
 -->              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-service-fixed">
      <div class="service-item bg_s_default color_s_default aHoverbg_deepen aHovercolor_deepen service-item-top"> <i class="fa fa-caret-up"></i>
        <div class="top" onclick="$('body,html').animate({scrollTop: 0}, 'normal');">TOP</div>
      </div>
      <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 20) {
                    $('.w-service-fixed .service-item-top').show();
                } else {
                    $('.w-service-fixed .service-item-top').hide();
                }
            });
        });
    </script> 
    </div>
  </div>
{eyou:global name='web_thirdcode_pc' /}
<!-- 应用插件标签 start -->
{eyou:weapp type='default' /}
<!-- 应用插件标签 end -->