<div class="w-container w-header w-header-common">
    <div class="row clearfix" style="background: url(template/pc/skin/img/db1.jpg);">
      <div class="mobile-nav-toggle"><i class="fa fa-navicon fa-2x"></i></div>
      <div class="nav_right_mask"></div>
      <div class="row_top">
        <div class="row_top_in clearfix">
          <div class="column column6">
            <div class="col-logo">
              <div class="w-logo">
            <h1 style="display:none;"><a href="{eyou:global name='web_cmsurl' /}/"></a></h1>
            <a  href="{eyou:global name='web_cmsurl' /}/"  class="w-logo-img"  > <img src="{eyou:global name='web_logo' /}"/> </a> </div>
            </div>
          </div>
          <div class="column column6 clearfix">
            <div class="topLogBox topLogBoxPc">
              <div class="topLogBox-in">
                <div class="lscPc clearfix"> </div>
                <div class="searchPc clearfix"> </div>
                <div class="clearfix">
                  <div class="w-custom">
                    <div class="li-div" >
                      <div class="w-text"  style="">
                        <div style="overflow:hidden;">
                          <div style="float:right;"><img src="{eyou:global name='web_templets_pc' /}/skin/img/59f2a2f3cfdf2.png" style="float:left; margin-top:5px; "/>
                            <div style="font-style:italic; color:#fff; margin-left:50px;">咨询热线<br/>
                              <span style="color:#fff; font-size:20px; font-weight:bold;margin-right: 10px;">{eyou:global name='web_attr_1' /}</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menuPc">
        <div class="menuPc_in">
          <div class="w-nav g-active-add">
            <div class="w-nav-in">
              <ul class="nav_inner clearfix" id="g-web-ul-menu" style="display:none;">
                <li  class="{eyou:eq name='$Think.const.CONTROLLER_NAME' value='Index'}active{/eyou:eq}"><a href = "{eyou:global name='web_cmsurl' /}/" >首页</a><i class="nav_simpline_cur"></i></li>
              {eyou:channel type="top" row="10" id="field" currentstyle="active"}
              <li  class="{$field.currentstyle}">
                <div class="li-parent-div li-parentOne-div"><a href = "{$field.typeurl}">{$field.typename}
                  {eyou:notempty name="$field.children"}<i class="fa fa-plus"></i>{/eyou:notempty} </a></div>
                <i class="nav_simpline_cur"></i> {eyou:notempty name="$field.children"}
                <div class="submenu">
                  <div class="back-div"><i class="fa fa-angle-left"></i><span>返回</span></div>
                  <ul>
                    {eyou:channel name="$field.children" row="10" id="field2"}
                    <li><a href = "{$field2.typeurl}">{$field2.typename}</a></li>
                    {/eyou:channel}
                  </ul>
                </div>
                {/eyou:notempty} </li>
              {/eyou:channel}
                <div class="nav_moveBox"></div>
              </ul>
            </div>
          </div>
           
        </div>
      </div>
      <div class="col-right clearfix">
        <div class="w-nav g-active-add">
          <div class="w-nav-in">
            <ul class="nav_inner clearfix">
              <li  class="{eyou:eq name='$Think.const.CONTROLLER_NAME' value='Index'}active{/eyou:eq}"><a href = "{eyou:global name='web_cmsurl' /}/" >首页</a><i class="nav_simpline_cur"></i></li>
              {eyou:channel type="top" row="10" id="field" currentstyle="active"}
              <li  class="{$field.currentstyle}">
                <div class="li-parent-div li-parentOne-div"><a href = "{$field.typeurl}">{$field.typename}
                  {eyou:notempty name="$field.children"}<i class="fa fa-plus"></i>{/eyou:notempty} </a></div>
                <i class="nav_simpline_cur"></i> {eyou:notempty name="$field.children"}
                <div class="submenu">
                  <div class="back-div"><i class="fa fa-angle-left"></i><span>返回</span></div>
                  <ul>
                    {eyou:channel name="$field.children" row="5" id="field2"}
                    <li><a href = "{$field2.typeurl}">{$field2.typename}</a></li>
                    {/eyou:channel}
                  </ul>
                </div>
                {/eyou:notempty} </li>
              {/eyou:channel}
              <div class="nav_moveBox"></div>
            </ul>
          </div>
        </div>
        
        <div class="topLogBox topLogBoxTel">
          <div class="topLogBox-in"> </div>
        </div>
      </div>
    </div>
  </div>