<!DOCTYPE HTML>
<html>
<head>
<title>{eyou:global name='web_title' /}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport" />
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/global.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/widget.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/variouscomponents.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/images.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/theme.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/color_0.css">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
<!--[if !IE]><!-->
<script src="{eyou:global name='web_templets_pc' /}/skin/js/base.js"></script>
<!--<![endif]-->
<!--[if gte IE 9]>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/base.js"></script>
<![endif]-->
<!--[if lt IE 9]>
      <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome-ie7.min.css">
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/selectivizr.js"></script>
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/html5shiv.min.js"></script>
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/respond.min.js"></script>
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/modernizr.min.js"></script>
    <![endif]-->
<link href="{eyou:global name='web_templets_pc' /}/skin/css/lightbox.min.css" rel="stylesheet">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.superslide.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/common.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/theme.js"></script>
<!-- feib -->
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/layer.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/language.js"></script>
<!-- plugins -->
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.formsvalidation.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.nodecommon.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/extend.js"></script>
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/animate.min.css">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/animate.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/components.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.menu_style.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.init.js"></script>
<script type="text/javascript">
$(function(){
    dataAnimate();
    (function($,lanno){
        if(lanno === "" || lanno === "default"){
            return '';
        }
        $(".w-languege").each(function(){
            $(this).find("a").each(function(){
                if($(this).data("lanno") === lanno){
                    $(this).addClass("cur");
                }else{
                    if($(this).hasClass("cur")){
                        $(this).removeClass("cur");
                    }
                }
            });
        });
    })(jQuery,"cn");
});
</script>
</head>
<body>
<div class="body">
  {eyou:include file="header.htm" /}
  <section class="w-container bannerBox ">
    <div class="banner">
      <ul class="bxslider">
        {eyou:adv pid='1' }
        <li>   <a href='{$field.links}' {$field.target}><img src="{$field.litpic}" alt="{$field.title}" title="{$field.title}"
                             style=""  
                             /> </a><a href="javascript:void(0);" target="_self"><span  style="display:none;">none</span></a> </li>
        {/eyou:adv}
      </ul>
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.bxslider.js"></script>
      <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/jquery.bxslider.css">
      <script type="text/javascript">
            var scale = '';
            var speed = 500;
            var pause = 5;
            $(function () {
                $('.banner>ul').bxSlider({
                    mode: 'fade', /*滚动方式 fade、vertical、horizontal */
                    auto: true, /*自动滚动*/
                    autoControls: false, /*自动滚动按钮*/
                    infiniteLoop: true, /*循环滚动*/
                    hideControlOnEnd: true, /*无效按钮隐藏*/
                    adaptiveHeight: true, /*图片是否实际缩放比高度显示控制，图片比例不一样高度变化*/
                    minSlides: 1,
                    maxSlides: 2,
                    scale: scale,
                    speed: speed,
                    pause: pause * 1000
                });
            });
        </script> 
    </div>
  </section>
  <div class="w-container w-main">
    <!--{eyou:type typeid='18'}
    <div class="w-section pdTop-default pdBottom-default" style="color:#666666;">
      <div class="row" style="max-width:;">
        <div class="row-mask"></div>
        <div class="wrap-content-in  pdTop-default pdBottom-default">
        <div class="li-div" >
            <div class="w-space space-b noChoose"  style="height:40px;">
              <div class="stretch-b"></div>
            </div>
          </div>
        <div class="li-div">
            <div class="not-animated w-title w-title1" data-animate="" style="">
              <div class="w-title-in">
                <div class="w-title-inner">
                  <div class="title-h-in">
                    <h2 class="color_main color_h" style="">{$field.typename}</h2>
                    <span class="color_vice color_span" style=""></span>
                    <div class="simpline bg_simpline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:40px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div col-li-div">
            <div class="col-table">
              <table class="div-table div-table-first" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                  {eyou:arclist typeid='18' orderby='now' titlelen='20' row='3'}
                    <td class="td-w" width="33.333333333333336%"><div class="div-padding">
                        <div class="li-div">
                          <div class="not-animated w-text" data-animate="" style="">
                            <div style="color:#fff;background:url({$field.litpic}) no-repeat center; padding:25px 10% 30px;">
                              <div class="font24">{$field.title}</div>
                              <div style="width:135px; height:1px; background:#fff;"></div>
                              <div style="line-height:1.2; padding-top:0.5em;">{$field.seo_description}</div>
                            </div>
                          </div>
                        </div>
                      </div></td>
                   {/eyou:arclist} 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:80px;">
              <div class="stretch-b"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/eyou:type}-->
    {eyou:channelartlist typeid='1'}
    <div class="w-section pdTop-medium pdBottom-default" style="background:#f5f5f5;">
      <div class="row" style="max-width:;">
        <div class="row-mask" ></div>
        <div class="wrap-content-in  pdTop-default pdBottom-default">
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:20px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div">
            <div class="not-animated w-title w-title1" data-animate="" style="">
              <div class="w-title-in">
                <div class="w-title-inner">
                  <div class="title-h-in">
                    <h2 class="color_main color_h" style="">{eyou:field name='typename' /}</h2>
                    <span class="color_vice color_span" style=""></span>
                    <div class="simpline bg_simpline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:35px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div col-li-div">
            <div class="col-table">
              <table class="div-table div-table-first" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="td-w" width="50%"><div class="div-padding">
                        <div class="li-div">
                          <div class="not-animated w-simImg" data-animate="" style="cursor:pointer;text-align:center;">
                            <div class="image-w"> <a title="" style="cursor:default;" href="javascript:void(0);" >
                              <div class="img" > <img src="{eyou:field name='litpic' /}"  /> </div>
                              <div class="caption w-img-caption">
                                <div class="captionbg"></div>
                              </div>
                              </a> </div>
                          </div>
                        </div>
                      </div></td>
                    <td class="td-w" width="50%"><div class="div-padding">
                        <div class="li-div">
                          <div class="not-animated w-text" data-animate="" style="">
                            <div style="line-height:2.5;">{eyou:type addtable='single_content'}{$field.content|html_msubstr=###,0,280}...{/eyou:type}</div>
                          </div>
                        </div>
                        <div class="li-div">
                          <div class="w-space space-b noChoose"  style="height:20px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                        <div class="li-div">
                          <div class="not-animated w-button10" data-animate="" style="padding-top:10px;">
                            <div class="btn-w btn-pd4 bg_main aHoverbg_deepen g-click-to-link" onclick="window.open('{eyou:field name='typeurl' /}','_self')"> <span class="btn-inner" style="font-size:0.9em;">READ MORE</span>
                              <div class="btnout-w"></div>
                            </div>
                            <a style="display:none;" href="{eyou:field name='typeurl' /}" target="_self"><span ></span></a> </div>
                        </div>
                       </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:57px;">
              <div class="stretch-b"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/eyou:channelartlist}
    <!--产品中心-->
    {eyou:channelartlist typeid='3'}
    <div class="w-section " style="background-image: url({eyou:global name='web_attr_5' /});">
      <div class="row" >
        <div class="row-mask" ></div>
        <div class="wrap-content-in  ">
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:19px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div">
            <div class="not-animated w-title w-title1" data-animate="" style="">
              <div class="w-title-in">
                <div class="w-title-inner">
                  <div class="title-h-in">
                    <h2 class="color_main color_h" style="color: #fff;">{eyou:field name='typename' /}</h2>
                    <span class="color_vice color_span" style=""></span>
                    <div class="simpline bg_simpline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:35px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div col-li-div">
            <div class="col-table">
              <table class="div-table div-table-first" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="td-w" width="50%"><div class="div-padding">
                        <div class="li-div">
                          <div class="w-space space-b noChoose"  style="height:20px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                        <div class="li-div col-li-div">
                          <div class="col-table">
                            <table class="div-table" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                {eyou:arclist orderby='now' titlelen='30' limit='0,2'}
                                  <td class="td-w" width="50%"><div class="div-padding">
                                      <div class="li-div">
                                        <div class="not-animated w-product clearfix w-product1" data-animate="" style="text-align:center;">
                                          <div class="w-prd-list-cell">
                                            <div class="w-prd-list-cell-in">
                                              <div class="w-prd-con">
                                                <div class="w-prd-imgbox imgScaleBig"> <a class="img-count w-prd-img" href="{$field.arcurl}">
                                                  <div class="aspectRatio" style="padding-bottom:95%;"></div>
                                                  <div class="img-count-in"> <img class="g-imagePath" src="{$field.litpic}"> </div>
                                                  </a> 
                                                  <div class="w-prd-infobox" style="text-align:center;">
                                                  <h2 class="w-prd-name" style=""> <a id="g-title" href="{$field.arcurl}">{$field.title}</a> </h2>
                                                  <div class="w-prd-sum" style="display:none;"></div>
                                                </div>
                                                </div>
                                                
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                                 {/eyou:arclist} 
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div></td>
                    <td class="td-w" width="50%"><div class="div-padding">
                        <div class="li-div">
                          <div class="w-space space-b noChoose"  style="height:20px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                        <div class="li-div col-li-div">
                          <div class="col-table">
                            <table class="div-table" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  {eyou:arclist orderby='now' titlelen='30' limit='2,4'}
                                  <td class="td-w" width="50%"><div class="div-padding">
                                      <div class="li-div">
                                        <div class="not-animated w-product clearfix w-product1" data-animate="" style="text-align:center;">
                                          <div class="w-prd-list-cell">
                                            <div class="w-prd-list-cell-in">
                                              <div class="w-prd-con">
                                                <div class="w-prd-imgbox imgScaleBig"> <a class="img-count w-prd-img" href="{$field.arcurl}">
                                                  <div class="aspectRatio" style="padding-bottom:95%;"></div>
                                                  <div class="img-count-in"> <img class="g-imagePath" src="{$field.litpic}"> </div>
                                                  </a> </div>
                                                <div class="w-prd-infobox" style="text-align:center;">
                                                  <h2 class="w-prd-name" style=""> <a id="g-title" href="{$field.arcurl}">{$field.title}</a> </h2>
                                                  <div class="w-prd-sum" style="display:none;"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                                 {/eyou:arclist}
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div></td>
                  </tr>
                </tbody>
              </table>
              <table class="div-table div-table-first" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="td-w" width="50%"><div class="div-padding">
                        <div class="li-div">
                          <div class="w-space space-b noChoose"  style="height:20px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                        <div class="li-div col-li-div">
                          <div class="col-table">
                            <table class="div-table" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                {eyou:arclist orderby='now' titlelen='30' limit='4,6'}
                                  <td class="td-w" width="50%"><div class="div-padding">
                                      <div class="li-div">
                                        <div class="not-animated w-product clearfix w-product1" data-animate="" style="text-align:center;">
                                          <div class="w-prd-list-cell">
                                            <div class="w-prd-list-cell-in">
                                              <div class="w-prd-con">
                                                <div class="w-prd-imgbox imgScaleBig"> <a class="img-count w-prd-img" href="{$field.arcurl}">
                                                  <div class="aspectRatio" style="padding-bottom:95%;"></div>
                                                  <div class="img-count-in"> <img class="g-imagePath" src="{$field.litpic}"> </div>
                                                  </a> </div>
                                                <div class="w-prd-infobox" style="text-align:center;">
                                                  <h2 class="w-prd-name" style=""> <a id="g-title" href="{$field.arcurl}">{$field.title}</a> </h2>
                                                  <div class="w-prd-sum" style="display:none;"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                                 {/eyou:arclist} 
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div></td>
                    <td class="td-w" width="50%"><div class="div-padding">
                        <div class="li-div">
                          <div class="w-space space-b noChoose"  style="height:20px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                        <div class="li-div col-li-div">
                          <div class="col-table">
                            <table class="div-table" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                  {eyou:arclist orderby='now' titlelen='30' limit='6,8'}
                                  <td class="td-w" width="50%"><div class="div-padding">
                                      <div class="li-div">
                                        <div class="not-animated w-product clearfix w-product1" data-animate="" style="text-align:center;">
                                          <div class="w-prd-list-cell">
                                            <div class="w-prd-list-cell-in">
                                              <div class="w-prd-con">
                                                <div class="w-prd-imgbox imgScaleBig"> <a class="img-count w-prd-img" href="{$field.arcurl}">
                                                  <div class="aspectRatio" style="padding-bottom:95%;"></div>
                                                  <div class="img-count-in"> <img class="g-imagePath" src="{$field.litpic}"> </div>
                                                  </a> </div>
                                                <div class="w-prd-infobox" style="text-align:center;">
                                                  <h2 class="w-prd-name" style=""> <a id="g-title" href="{$field.arcurl}">{$field.title}</a> </h2>
                                                  <div class="w-prd-sum" style="display:none;"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                                 {/eyou:arclist}
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:20px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div">
            <div class="not-animated w-button" data-animate="" style="text-align:center;">
              <div class="btn-default-b btn-default-w btn-large-w g-click-to-link"onclick="window.open('{eyou:field name='typeurl' /}','_self')"> <span class="btn-inner" style="">more+</span> </div>
              <a style="display:none;" href="{eyou:field name='typeurl' /}" target="_self"><span></span></a> </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:30px;">
              <div class="stretch-b"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/eyou:channelartlist}
    
    <!--客户案例-->
    {eyou:channelartlist typeid='4'}
    <div class="w-section ">
      <div class="row" >
        <div class="row-mask" ></div>
        <div class="wrap-content-in  ">
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:19px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div">
            <div class="not-animated w-title w-title1" data-animate="" style="">
              <div class="w-title-in">
                <div class="w-title-inner">
                  <div class="title-h-in">
                    <h2 class="color_main color_h" style="">{eyou:field name='typename' /}</h2>
                    <span class="color_vice color_span" style=""></span>
                    <div class="simpline bg_simpline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:35px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div col-li-div">
            <div class="col-table">
              <table class="div-table div-table-first" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td class="td-w" width="50%"><div class="div-padding">
                        <div class="li-div">
                          <div class="w-space space-b noChoose"  style="height:20px;">
                            <div class="stretch-b"></div>
                          </div>
                        </div>
                        <div class="li-div col-li-div">
                          <div class="col-table">
                            <table class="div-table" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                <tr>
                                {eyou:arclist orderby='now' titlelen='30' limit='0,5'}
                                  <td class="td-w" width="50%"><div class="div-padding">
                                      <div class="li-div">
                                        <div class="not-animated w-product clearfix w-product1" data-animate="" style="text-align:center;">
                                          <div class="w-prd-list-cell" style="border: 1px solid #1E549C;">
                                            <div class="w-prd-list-cell-in">
                                              <div class="w-prd-con">
                                                <div class="w-prd-imgbox imgScaleBig"> <a class="img-count w-prd-img" href="{$field.arcurl}">
                                                  <div class="aspectRatio" style="padding-bottom:90%;"></div>
                                                  <div class="img-count-in"> <img class="g-imagePath" src="{$field.litpic}"> </div>
                                                  </a> </div>
                                                <div class="w-prd-infobox" style="text-align:center;">
                                                  <h2 class="w-prd-name" style=""> <a id="g-title" href="{$field.arcurl}">{$field.title}</a> </h2>
                                                  <div class="w-prd-sum" style="display:none;"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                                 {/eyou:arclist} 
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div></td>
                    
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
    {/eyou:channelartlist}

    
    {eyou:channelartlist typeid='2'}
    <div class="w-section" style="background:#f5f5f5;">
      <div class="row" >
        <div class="row-mask" ></div>
        <div class="wrap-content-in">
          <div class="li-div">
            <div class="tel-hidden w-space space-b noChoose"  style="height:20px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div">
            <div class="not-animated w-title w-title1" data-animate="" style="">
              <div class="w-title-in">
                <div class="w-title-inner">
                  <div class="title-h-in">
                    <h2 class="color_main color_h" style="">{eyou:field name='typename' /}</h2>
                    <span class="color_vice color_span" style=""></span>
                    <div class="simpline bg_simpline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:40px;">
              <div class="stretch-b"></div>
            </div>
          </div>
          <div class="li-div col-li-div">
            <div class="col-table">
              <table class="div-table div-table-first" width="100%" cellspacing="0"cellpadding="0" border="0">
                <tbody>
                  <tr>
                  {eyou:channel type="son" row='3'}
                    <td class="td-w" width="33.333333333333336%"><div class="div-padding">
                        <div class="li-div">
                          <div class="not-animated w-simImg imgFloatNone" data-animate="" style="cursor:pointer;padding-bottom:10px;">
                            <div class="image-w"> <a title="{$field.typename}" href="{$field.typeurl}" >
                              <div class="imgScaleBig">
                                <div class="img" > <img src="{$field.litpic}"/> </div>
                              </div>
                              <div class="caption w-img-caption">
                                <div class="captionbg"></div>
                              </div>
                              </a> </div>
                          </div>
                        </div>
                        {eyou:arclist orderby='now' infolen='40' titlelen='40' limit='0,1'}
                        <div class="li-div">
                          <div class="not-animated w-text" data-animate="" style=""> <a href="{$field.arcurl}" target="_self"><span style="font-size: 1.1em;">{$field.title}</span></a><br/>
                            {$field.add_time|MyDate='Y-m-d',###}<br/>
                            {$field.seo_description}...</div>
                        </div>
                        {/eyou:arclist} 
                        <div class="li-div">
                          <div class="w-delimiters-hor"  style="margin:9px auto;">
                            <hr class="delimiters" style="margin:0 auto;background-color:#dfdfdf;width:100%;height:1px;">
                          </div>
                        </div>
                        <div class="li-div" onselectstart="return false" style=" -moz-user-select: none;">
                          <div class="not-animated w-adNews w-adNews4" data-animate="" style="">
                            <div class="w-adNews-in clearfix">
                              <ul>
                              {eyou:arclist orderby='now' infolen='40' titlelen='40' limit='1,4'}
                                <li>
                                  <div class="news-item">
                                    <div class="news-together">
                                      <div class="news-h"><a class="news-kind" target="_blank" href="{$field.typeurl}" title="{$field.typename}">【{$field.typename}】</a><a href="{$field.arcurl}" target="_blank" title=" {$field.title}"> {$field.title}</a></div>
                                      <div class="date">{$field.add_time|MyDate='Y-m-d',###}</div>
                                    </div>
                                  </div>
                                </li>
                              {/eyou:arclist}   
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div></td>
                  {/eyou:channel}  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="li-div">
            <div class="w-space space-b noChoose"  style="height:50px;">
              <div class="stretch-b"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/eyou:channelartlist}
    <script type="text/javascript">$(function(){$(".div-table-first").find(".div-table-first").each(function(){$(this).removeClass("div-table-first")});});</script> 
  </div>
  {eyou:include file="footer.htm" /}
</div>
<div class="topTel" onclick="$('body,html').animate({scrollTop: 0}, 500);"><i class="fa fa-arrow-up"></i></div>

<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.global.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.form.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/lightbox.min.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.custom.js"></script> 
</body>
</html>